@font-face{
  font-family: blackPearl;
  src: url('../../assets/fonts/BlackPearl.ttf');
}

@font-face{
  font-family: blackGold;
  src: url('../../assets/fonts/BlackSam\'sGold.ttf')
}

@font-face{
  font-family: meddon;
  src: url('../../assets/fonts/Meddon.ttf')
}

body{
  margin: 0px;
  height: 100vh;
  font-family: blackGold;
  background: linear-gradient(to bottom, #7ecff8 0%,#7ecff8 50%,#000000 50%,#1c8bc1 50%,#1c8bc1 100%);
  overflow: hidden;
}

a {
  color: orangered;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header h1{
  font-family: blackPearl;
  font-size: 3em;
  color: #760a0a;
}

article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-button{
  width: 200px;
  height: 75px;
  border-radius: 10%;
  font-family:  blackPearl;
  font-size: 3em;
  background-color: black;
  color: white; 
  border: 3px solid white;
  box-shadow: 0 20px black;
  cursor: pointer;
  margin: 10px;
}

#instructions .control-button{
  width: 50px;
  height: 25px;
  font-size: 0.5em;
  box-shadow: 0 5px black;
  margin: 0;
  transform: translateY(-10px);
  border: 2px solid white;
}

.info-button{
  font-size: 1em;
  width: 150px;
  height: auto;
  padding: 10px;
  box-shadow: 0 10px black;
}

.sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 70vh;
  position: absolute;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: cursive;
  background-color: 	#f5f1a0;
  color: 	#5e2a0e;
  border: 4px solid #5e2a0e;
  border-radius: 10px;
  font-size: 1.5em;
}

.sidebar h3{
  font-family: meddon;
}

.row{
  display: flex;
  flex-direction: row;
}

.axis-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  width: 7vh;
  height: 7vh;
}

.map-tile{
  width: 7vh;
  height: 7vh;
  background-color: #f5f1a0;
  border: 3px solid black;
  cursor: pointer;
}

.explored-tile{
  background-color: green;
}

.selected-tile{
  background-color: #760a0a;
}

.black-tile{
  background-color: black;
}

.white-tile{
  background-color: white;
}

div h3{
  margin: 3px;
}

#output{
  right: -80vw;
}

#instructions{
  left: -80vw;
  justify-content: space-between;
}

#instructions span{
  margin: 10px;
}

#credits{
  font-size: 0.5em;
  margin: 10px;
}

#output-list{
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#map{
  margin-left: -53px;
  font-size: 2em;
}

#controls .control-button:hover{
  background-color: orangered;
  cursor: default;
}

#controls .control-button:active{
  background-color: orangered;
  box-shadow: 0 10px black;
  transform: translateY(10px);
}

#controls .info-button:active{
  box-shadow: 0 5px black;
}

.control-button:focus{
  outline: none;
}

.map-tile:hover{
  border: 3px solid #ddd417;
}

#instruction-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#log-bar{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.x-button{
  background-color: transparent;
  border: 0;
  font-family: blackPearl;
  color: #5e2a0e;
  font-size: 2em;
}

.x-button:hover{
  color: orangered;
}

.x-button:focus{
  outline: none;
}

.x-button:active{
  transform: translateY(10px);
}
