@font-face{
  font-family: blackPearl;
  src: url('../../assets/fonts/BlackPearl.ttf');
}

@font-face{
  font-family: blackGold;
  src: url('../../assets/fonts/BlackSam\'sGold.ttf')
}

@font-face{
  font-family: meddon;
  src: url('../../assets/fonts/Meddon.ttf')
}

body{
  margin: 0px;
  height: 100vh;
  font-family: blackGold;
  background-color: #1c8bc1;
  overflow: hidden;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header h1{
  font-family: blackPearl;
  font-size: 3em;
  color: #760a0a;
}

article{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.go-button{
  width: 75%;
  height: 100px;
  border-radius: 10px;
  font-family:  blackPearl;
  font-size: 4em;
  background-color: black;
  color: white; 
  border: 3px solid white;
  box-shadow: 0 20px black;
  cursor: pointer;
}

.sidebar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70vh;
}

#output{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: meddon;
  background-color: 	#ddd417;
  color: 	#5e2a0e;
  border: 4px solid #5e2a0e;
  border-radius: 10px;
}

.row{
  display: flex;
  flex-direction: row;
}

.axis-tile{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  width: 50px;
  height: 50px;
}

.map-tile{
  width: 50px;
  height: 50px;
  border: 3px solid black;
  cursor: pointer;
}

.explored-tile{
  background-color: green;
}

.selected-tile{
  background-color: #760a0a;
}

#output-list{
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#map{
  margin-left: -53px;
  font-size: 2em;
}

#message-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.go-button:hover{
  background-color: orangered;
}

.go-button:active{
  background-color: orangered;
  box-shadow: 0 10px black;
  transform: translateY(10px);
}

.map-tile:hover{
  background-color: #ddd417;
}